@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Poppins&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cards-section::-webkit-scrollbar{
  display: none;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #e7edfb;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #bdcbfe;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 60px;
  height: 25px;
  background: #6b7fc6;
  cursor: pointer;
}
